[Unit]
Description=Run Hyper-V/Nvidia Xorg Setup Scripts
DefaultDependencies=no
After=systemd-sysinit.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/share/modlistfiles/bin/hyperv-detect-runner.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
